/* header, main, footer {
    width: 70%;
    height: 200px;
    border: 1px dashed hotpink;
    margin: 1em auto;
} */
/* take the border off before mau run the program cuz they look stupid, butgood for debugging */